<div id="score-editor">

<!-- Score Data -->
<div id="score-data">
  <label for="score-title">Title</label>
  <input id="score-title" type="text" name="title" class="flat-title" 
    value="<%= @title %>" />
  <textarea id="score-details" name="details"
    class="flat-details"><%= @details %></textarea>
  <label for="key">Key</label>
  <select id="key" name="key"></select>
  <label for="timeSig">Meter</label>
  <select id="timeSig" name="time"></select>
  <label for="tempo">Tempo</label>
  <select id="tempo" name="tempo"></select>
</div>

<!-- Music Input -->
<div id="music-input"></div>

</div>

<!-- Editor Toolbox -->
<div id="editor-tools">
<button id="play-music" class="editor-btn" type="button">Play Music</button>
<button id="clear-music" class="editor-btn" type="button">Clear</button>
<button id="melody-gen" class="editor-btn" type="button">Melody Generator</button>
<button id="save-music" class="editor-btn" type="submit">Save Score</button>
</div>

<!-- Javascripts -->
<script src="/scripts/data.js"></script>
<script src="/scripts/render.js"></script>
<script src="/scripts/playback.js"></script>
<script src="/scripts/events.js"></script>
<script src="/scripts/melody.js"></script>
<script src="/scripts/main.js"></script>
<script>
  buildPage(<%= @json %>);
</script> 
