<!--
<div class="left-body">
<h2>Welcome to VoiceLeader</h2>
<p>VoiceLeader lets you compose simple pieces of music to share with your 
   teachers, classmates, and friends.  Use the built-in melody generator to 
   get inspired, change keys in place to explore new modal soundscapes, and 
   do music theory to your creations with the click of a button!</p>
</div>

<div class="right-body">
<h2>Start Composing</h2>
<p>Create an account at VoiceLeader to start creating original music! 
   VoiceLeader is, and will always be, completely free of charge.  Just 
   enter a unique username and password below to get started.</p>

<form id="account" action="/signup" method="POST">
<fieldset>
<legend>Sign Up</legend>
  <label for="username">User Name</label>
  <input id="username" type="text" name ="username" value="" />
  <label for="password">Password</label>
  <input id="username" type="password" name ="password" value="" />
  <button type="submit">Sign Up</button>
</fieldset>
</form>
</div>

<hr>
-->
<%= yield %>
