<h2>Home</h2>
<p>VoiceLeader is a nifty little tool for error checking (and eventually, 
   creating) simple four part voice-leading exercises.  By supplying the 
   program with sequences of notes (in Soprano, Alto, Tenor, and Bass), 
   you can check for specific voice leading errors, and print out a roman 
   numeral analysis for the exercise.</p>
<br>


<!-- div below must be written on one line, to avoid extra childnodes -->
<div id="music-input"></div>

<br>

<button id="play-music">Play Music</button>
<button id="clear-music">Clear</button>
<button id="melody-gen">Melody Generator</button>

<br><br>
<form id="form" action="/scores" method="POST">

<fieldset>
<legend>Music Settings</legend>
  <select id="key-select" name="key">                                                           
  <option value="C">C Major / a minor</option>                          
  <option value="G">G Major / e minor</option>                          
  <option value="D">D Major / b minor</option>                          
  <option value="A">A Major / f# minor</option>                         
  <option value="E">E Major / c# minor</option>                         
  <option value="B">B Major / g# minor</option>                        
  <option value="F#">F# Major / d# minor</option>                        
  <option value="C#">C# Major / a# minor</option>                        
  <option value="F">F Major / d minor</option>                           
  <option value="Bb">Bb Major / g minor</option>                         
  <option value="Eb">Eb Major / c minor</option>                          
  <option value="Ab">Ab Major / f minor</option>                          
  <option value="Db">Db Major / b-flat minor</option>                     
  <option value="Gb">Gb Major / e-flat minor</option>                     
  <option value="Cb">Cb Major / a-flat minor</option>                    
  </select>

  <label for="tempo-input">Tempo:</label>
  <input id="tempo-input" type="text" size="8" name="tempo" value="60" />

  <input id="s_input" type="hidden" name="soprano" 
    value="E5,F5,E5,D5,C5,D5,C5"><br>
  <input id="a_input" type="hidden" name="alto" 
    value="G4,A4,A4,G#4,A4,B4,G4"><br>
  <input id="t_input" type="hidden" name="tenor" 
    value="C4,C4,C4,E4,E4,F4,E4"><br>
  <input id="b_input" type="hidden" name="bass" 
    value="C3,F2,C3,B2,A2,G2,C3">

  <input type="submit" value="Submit">
</fieldset>
<!-- Move analysis to separate page function!!
<fieldset>
  <legend>Check for Errors</legend>
  <div class="float">
    <input id="p_fifths" type="checkbox" name ="options[]" 
      value="p_fifths" checked>
    <label for="p_fifths">Parallel Fifths</label><br>
    <input id="p_octaves" type="checkbox" name ="options[]" 
      value="p_octaves" checked>
    <label for="p_octaves">Parallel Octaves</label><br>
    <input id="intervals" type="checkbox" name ="options[]" 
      value="intervals" checked>
    <label for="intervals">Illegal intervals</label><br>  
    <input id="crossing" type="checkbox" name ="options[]" 
      value="crossing" checked>
    <label for="crossing">Voice Crossing</label>
  </div>
  <div> 
    <input id="sevenths" type="checkbox" name ="options[]" 
      value="sevenths" checked>
    <label for="sevenths">Sevenths resolve down</label><br>
    <input id="spacing" type="checkbox" name ="options[]" 
      value="spacing" checked>
    <label for="spacing">Spacing between parts</label><br>
    <input id="range" type="checkbox" name ="options[]" 
      value="range" checked>
    <label for="range">Voice ranges</label><br>
    <input id="doubling" type="checkbox" name ="options[]" 
      value="doubling" checked>
    <label for="doubling">Doubling</label> 
  </div>
  <br>
  <input type="submit" value="Submit">
</fieldset>
</form>

<br>

<h2>Voiceleading Rules</h2>
<div class="column">
<dl>
  <dt>Range</dt>
  <dd>Bass: E2 - D4
    <br>Tenor: D3 - F4
    <br>Alto: A3 - D5
    <br>Soprano: C4 - G5
  </dd>
  <dt>Spacing</dt>
  <dd>With the exception of the bass, voice parts will not exceed an octave separation between 
      one another</dd>
  <dt>Parallel 5ths/8ves</dt>
  <dd>No parts may move in parallel on these intervals</dd>
  <dt>Preferred Doubling</dt>
  <dd>In root position chords, the root is doubled
    <br>In first inversion chords, the soprano is doubled
    <br>Thirds in major chords are not doubled
    <br>Sevenths and non-chord tones are not doubled
  </dd>
</dl>
<br><br>
</div>
<div>
<dl>
  <dt>Intervals</dt>
  <dd>Intervals are kept small, generally speaking (bass excepted)
    <br>No augumented or diminished intervals, except in rare occasions
  </dd>
  <dt>Voice Crossing</dt>
  <dd>Voices must remain below the notes above them, and above the notes below</dd>
  <dt>Voice Overlap</dt>
  <dd>A voice may not leap past the notes directly above and below it</dd>
  <dt>Treatment of Sevenths</dt>
  <dd>Sevenths are resolved downward by step, and must be prepared</dd>
  <dt>Cross Relations</dt>
  <dd>Chromatic motion passed between two voices</dd>
  <dt>Leading Tones</dt>
  <dd>Leading Tones resolve upward in outer voices</dd>
</dl>
</div>
-->

<!-- <script language="JavaScript" type="text/javascript" src="/scripts.js"></script> -->
<script src="/data.js"></script>
<script src="/render.js"></script>
<script src="/playback.js"></script>
<script src="/events.js"></script>
<script src="/melody.js"></script>
<script src="/main.js"></script>
<script>                                                                        
  buildPage();                                                
</script>  
