<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta description="VoiceLeader, the composer companion">
  <title>VoiceLeader</title>
  <link rel="stylesheet" href="/default.css">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<header>
<div class="content">
  <a href="/"><img src="/images/logo.png" id="banner" alt="VoiceLeader"></a>
  <div id="session">
  <% if session[:username] %>
    <div id="user-info">
      <b><%= session[:username] %>: </b>
      <a href="/logout">Logout</a>
    </div>
    <div id="menu-bar">
      <div id="scores-btn" class="menu-btn" href="#">Scores</div> 
      <ul id="scores-menu" class="menu" hidden="true">
        <li class="bold-li" rel="new">Create New Score</li>
      </ul>
    </div>
  <% else %>
    <form id="login" action="/login" method="POST">
      <label for="username">User</label>
      <input id="username" type="text" name="username" value="">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="">
      <button type="submit">Login</button>
      <a id="signup-btn" href="#">Sign Up</a>
    </form>
  <% end %>
  </div>
</div>
</header>

<article>

<div class="content">

<div id="editor">

<!-- Score Data -->
<form id="score-data">
  <div class="form-pair">
    <label for="score-title">Title</label>
    <input id="score-title" type="text" name="title" class="flat-title">
  </div>
  <div class="form-pair">
    <label for="key">Key</label>
    <select id="key" name="key"></select>
  </div>
  <div class="form-pair">
    <label for="timeSig">Meter</label>
    <select id="timeSig" name="time"></select>
  </div>
  <div class="form-pair">
    <label for="tempo">Tempo</label>
    <select id="tempo" name="tempo"></select>
  </div>
  <a href="#" id="help">Help</a>
  <input id="score-id" type="hidden" name="id" value="new">
</form>

<!-- Music Input -->
<div id="music-input"></div>

</div>

<!-- Popups -->
<div class="pop-up" hidden="true">
<form id="signup-form" action="/signup" method="POST">
  <h3>Create Account</h3>
  <label for="username">User Name</label>
  <input id="username" type="text" name ="username" required>
  <label for="username">Email</label>
  <input id="username" type="email" name ="email" required>
  <label for="password">Set Password</label>
  <input id="username" type="password" name ="password" required>
  <label for="username">Confirm Password</label>
  <input id="username" type="password" name ="confirm" required>
  <button id="cancel-btn" type="reset">Cancel</button>
  <button type="submit">Sign Up</button>
</form>
</div>

</div>

</article>

<!-- Editor Toolbox -->
<footer>
<div id="editor-tools">
<button id="play-music" class="editor-btn" type="button">Play Music</button>
<button id="clear-music" class="editor-btn" type="button">Clear</button>
<button id="melody-gen" class="editor-btn" type="button">Generate</button>
<button id="save-music" class="editor-btn" type="button">Save Score</button>
<button id="del-music" class="editor-btn" type="button">Delete Score</button>
</div>
</footer>

<!-- Javascripts -->
<script src="/scripts/data.js"></script>
<script src="/scripts/render.js"></script>
<script src="/scripts/playback.js"></script>
<script src="/scripts/events.js"></script>
<script src="/scripts/melody.js"></script>
<script src="/scripts/main.js"></script>

</body>
</html>
