<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta description="VoiceLeader, the composer companion">
  <title>VoiceLeader</title>
  <link rel="stylesheet" href="/default.css">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<header>
<div class="center-body">
  <div class="float-left">
    <a href="/"><img src="/images/logo.png" id="banner" alt="VoiceLeader"></a>
  </div>
  <div id="session">
  <% if session[:username] %>
    <p>Signed in as<br><b><%= session[:username] %></b></p>
    <a href="/scores">My Scores</a> | <a href="/scores/new">New Score</a><br>
    <a href="/logout">Logout</a>
  <% else %>
    <form id="login" action="/login" method="POST">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" value="">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="">
      <button type="submit">Login</button>
    </form>
  <% end %>
  </div>
</div>
</header>

<article>
<div class="center-body">

<%= yield %>

</div>
</article>

<footer>
  <p class="foot">VoiceLeader: copyright 2015</p>
</footer>

</body>
</html>
