
<!-- Move analysis to separate page function!!
<fieldset>
  <legend>Check for Errors</legend>
  <div class="float">
    <input id="p_fifths" type="checkbox" name ="options[]" 
      value="p_fifths" checked>
    <label for="p_fifths">Parallel Fifths</label><br>
    <input id="p_octaves" type="checkbox" name ="options[]" 
      value="p_octaves" checked>
    <label for="p_octaves">Parallel Octaves</label><br>
    <input id="intervals" type="checkbox" name ="options[]" 
      value="intervals" checked>
    <label for="intervals">Illegal intervals</label><br>  
    <input id="crossing" type="checkbox" name ="options[]" 
      value="crossing" checked>
    <label for="crossing">Voice Crossing</label>
  </div>
  <div> 
    <input id="sevenths" type="checkbox" name ="options[]" 
      value="sevenths" checked>
    <label for="sevenths">Sevenths resolve down</label><br>
    <input id="spacing" type="checkbox" name ="options[]" 
      value="spacing" checked>
    <label for="spacing">Spacing between parts</label><br>
    <input id="range" type="checkbox" name ="options[]" 
      value="range" checked>
    <label for="range">Voice ranges</label><br>
    <input id="doubling" type="checkbox" name ="options[]" 
      value="doubling" checked>
    <label for="doubling">Doubling</label> 
  </div>
  <br>
  <input type="submit" value="Submit">
</fieldset>
</form>

<br>

<h2>Voiceleading Rules</h2>
<div class="column">
<dl>
  <dt>Range</dt>
  <dd>Bass: E2 - D4
    <br>Tenor: D3 - F4
    <br>Alto: A3 - D5
    <br>Soprano: C4 - G5
  </dd>
  <dt>Spacing</dt>
  <dd>With the exception of the bass, voice parts will not exceed an octave separation between 
      one another</dd>
  <dt>Parallel 5ths/8ves</dt>
  <dd>No parts may move in parallel on these intervals</dd>
  <dt>Preferred Doubling</dt>
  <dd>In root position chords, the root is doubled
    <br>In first inversion chords, the soprano is doubled
    <br>Thirds in major chords are not doubled
    <br>Sevenths and non-chord tones are not doubled
  </dd>
</dl>
<br><br>
</div>
<div>
<dl>
  <dt>Intervals</dt>
  <dd>Intervals are kept small, generally speaking (bass excepted)
    <br>No augumented or diminished intervals, except in rare occasions
  </dd>
  <dt>Voice Crossing</dt>
  <dd>Voices must remain below the notes above them, and above the notes below</dd>
  <dt>Voice Overlap</dt>
  <dd>A voice may not leap past the notes directly above and below it</dd>
  <dt>Treatment of Sevenths</dt>
  <dd>Sevenths are resolved downward by step, and must be prepared</dd>
  <dt>Cross Relations</dt>
  <dd>Chromatic motion passed between two voices</dd>
  <dt>Leading Tones</dt>
  <dd>Leading Tones resolve upward in outer voices</dd>
</dl>
</div>
-->
Placeholder
