/**
 * Resets and Overrides
 */

* { margin: 0; padding: 0 }
img { vertical-align: top }

/**
 * Links and Type
 */

body {
  background-color: #660066;
  background-image: url('/images/bg-score.jpg');
  color: black;
  margin: 0px;
  font-size: 16px;
  font-family: 'Verdana', sans-serif;
}
.center-body {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

h1, h2 {
  font-size: 1.5em;
  color: #660066;
  margin-bottom: 10px;
  border-bottom: 2px dotted #660066;
}

h3 {
  font-size: 1em;
  color: #660066;
  margin-bottom: 5px;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
a {
  color: yellow;
  text-decoration: none;
}
a:hover {
  color: white;
}

/**
 * Forms
 */

label {
  color: white;
  font-size: 0.8em;
}
button {
  background-color: #665566;
  color: white;
  font-size: 0.8em;
  padding: 0.3em 10px;
}
button:hover {
  background-color: #776677;
}
button:focus {
  outline: none;
}
/*
fieldset {
  border: 0px dashed #660066;
  border-radius: 5px;
  background-color: #FFCC99;
  margin: 0px 20px 20px 20px;
  padding: 0 15px;
}

legend {
  color: #660066;
  padding: 0.5em;
  position: relative;
  top: -1em;
  left: -7px;
}

label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}

input, textarea, select {
  font-size: 0.8em;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 0.5em auto;
  padding: 0.2em;
}
select {
  font-size: 1em;
  background-color: #FFEEDD;
}

textarea {
  resize: none;
  overflow: auto;
}
*/
/*
.del-score {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px 6px;
  margin: 5px;
  color: red;
}

/**
 * Header
 */

header {
  background-color: rgba(80, 0, 100, 0.9);
  border-bottom: 1px solid #220033;
  height: 75px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#banner {
  margin: 5px 20px;
  width: 300px;
}

#session {
  display: inline-block;
  float: right;
  color: white;
  margin: 25px 20px 0 0;
}
#session input {
  color: black;
  margin: 0;
  padding: 0;
}

/**
 * Article
 */

article {
  padding-bottom: 100px;
  position: absolute;
  top: 120px;
  width: 100%;
}

.left-body {
  width: 40%;
  margin-right: 5%;
  float: left;
}
.right-body {
  width: 55%;
  float: left;
}
.score-thumb {
  width: 28%;
  height: 4em;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: #FFCC99;
  margin: 10px;
  padding: 10px;
}

/****************************************************************************
 * Footer
 */

footer {
  font-size: 0.8em;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}
p.foot {
  margin: 0;
}

/****************************************************************************
 * Unsorted
 */

.float-left {
  float: left;
}

.hide {
  display: none;
}

.float {
  float: left;
  margin-right: 12px;
}
div.column {
  float: left;
  width: 45%;
  margin-right: 5%;
}
div#voice_input label {
  display: inline-block; 
  width: 120px;
  margin-right: 6px;
  text-align: right;
}

/**
 * Analysis Results Page
 */

.results-table {
  width: 100%;
  background: #BB66BB;
}
.results-table th {
  background: black;
  color: white;
}
.results-table td {
  vertical-align: top;
  background: #DDDDDD;
}
.results-table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Unsorted */

form legend {
  font-weight: bold;
}
table {
  width: 100%;
}
table tr td {
  vertical-align: top;
}
dt {
  font-weight: bold;
}
dd {
  color: #222222;
  font-style:italic;
  margin: 0 0 12px 0;
}

/**
 * Score Editor
 */
#score-editor {
  margin: 0 auto;
  width: 900px;
}
#editor-tools {
  background-color: rgba(80, 0, 100, 0.9);
  bottom: 0px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.editor-btn {
  height: 35px;
  width: 200px;
  margin: 0 10px;
}
#score-data {
  background-color: rgba(80, 0, 100, 0.9);
  border-radius: 10px 10px 0 0;
  height: 30px;
  padding: 10px;
}
#score-data label {
  margin-left: 30px;
}
.flat-details {
  display: none;
}
.flat-title {
  font-size: 0.9em;
  padding: 5px;
  width: 200px;
}
#music-input {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 10px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}
#music-input:focus {
  outline: none;
}
.staff {
  box-sizing: border-box;
  height: 49px;
  max-height: 49px; 
  display: block;
  background-image: url(images/staff-background.png);
  background-repeat: repeat-x;
  position: relative;
  margin: 60px 20px 60px 20px;
  border-right: 5px double black;
  border-left: 1px solid black;
}
.staff p {
  color: black;
}
.staff img {
  display: inline;
  vertical-align: top;
}
.staff div {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.clef {
  position: relative;
  width: 41px;
}
.key-sig {
  display: inline-block;
  margin-right: 8px;
  margin-left: 4px;
}
.key-sig img {
  position: relative;
  margin-left: -5px;
  width: 15px;
}
.time-sig {
  margin-right: 8px; 
}
.time-sig p {
  font-size: 24px;
  font-family: 'impact';
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.note {
  z-index: 1;
}
.accidental {
  position: relative;
  width: 15px;
}
.ledger {
  position: absolute;
  width: 20px;
}
.note-img {
  position: relative;
  width: 20px;
}
