/**
 * Resets and Overrides
 */

* { margin: 0; padding: 0 }
img { vertical-align: top }

/**
 * Links and Type
 */

body {
  background-color: #660066;
  color: black;
  margin: 0px;
  font-size: 16px;
  font-family: 'Verdana', sans-serif;
}
.center-body {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

h1, h2 {
  font-size: 1.5em;
  color: #660066;
  margin-bottom: 10px;
  border-bottom: 2px dotted #660066;
}

h3 {
  font-size: 1em;
  color: #660066;
  margin-bottom: 5px;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a:hover {
  text-decoration: none;
}

/**
 * Forms
 */

fieldset {
  border: 0px dashed #660066;
  border-radius: 5px;
  background-color: #FFCC99;
  margin: 0px 20px 20px 20px;
  padding: 0 15px;
}

legend {
  color: #660066;
  padding: 0.5em;
  position: relative;
  top: -1em;
  left: -7px;
}

label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}

input, textarea, select {
  font-size: 0.8em;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 0.5em auto;
  padding: 0.2em;
}
select {
  font-size: 1.2em;
}

textarea {
  resize: none;
  overflow: auto;
}

button {
  background-color: #660066;
  display: block;
  width: 100%;
  color: white;
  font-size: 0.8em;
  margin: 1em 0 1.5em 0;
  padding: 0.3em 50px;
}
button:focus {
  outline: none;
}
#editor-tools {
  width: 80%;
  margin: 0 auto 20px auto;
}
.editor-btn {
  display: inline-block;
  width: 32.8%;
  margin: 0;
}
.detail-input {
  display: inline-block;
  width: 31.8%;
}
.flat-title {
  border: none;
  font-size: 1.5em;
}
.flat-details {
  border: none;
  font-size: 1em;
  height: 3.5em;
}

/**
 * Header
 */

header {
  background-color: #660066;
  padding: 20px 10px 20px 10px;
  height: 130px;
  border-bottom: 0px solid black;
  overflow: hidden;
}

header a {
  color: yellow;
}

#banner {
  margin-top: 40px;
}

#session label, #session input, #session p {
  color: white;
}
#session input {
  color: black;
}

/**
 * Article
 */

article {
  overflow: hidden;
  margin-bottom: 10px;
}

.left-body {
  width: 40%;
  margin-right: 5%;
  float: left;
}
.right-body {
  width: 55%;
  float: left;
}
.score-thumb {
  width: 28%;
  display: inline-block;
  border-radius: 5px;
  background-color: #FFCC99;
  margin: 10px;
  padding: 10px;
}

/**
 * Footer
 */

footer {
  font-size: 0.8em;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}

/**
 * Unsorted
 */

.float-left {
  float: left;
}

.hide {
  display: none;
}
article {
  background: white;
  padding-top: 20px;
}
div#session {
  float: right;
}

.float {
  float: left;
  margin-right: 12px;
}
div.column {
  float: left;
  width: 45%;
  margin-right: 5%;
}
div#voice_input label {
  display: inline-block; 
  width: 120px;
  margin-right: 6px;
  text-align: right;
}
table.chords {
  width: 100%;
  background: #BB66BB;
}
table.chords th {
  background: black;
  color: white;
}
table.chords td {
  vertical-align: top;
  background: #DDDDDD;
}
table.chords ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p.foot {
  margin: 0;
}
form legend {
  font-weight: bold;
}
table {
  width: 100%;
}
table tr td {
  vertical-align: top;
}
dt {
  font-weight: bold;
}
dd {
  color: #222222;
  font-style: italic;
  margin: 0 0 12px 0;
}

/**
 * Music Editor
 */

#music-input {
  width: 100%;
  border: 0px solid black;
  border-radius: 25px;
  background-color: #FFCC99;
  margin-bottom: 0px; 
  resize: horizontal;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#music-input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #660066;
}

a.staff {
  box-sizing: border-box;
  height: 49px;
  max-height: 49px; 
  display: block;
  background-color: #FFEEDD;
  background-image: url(images/staff-background.png);
  background-repeat: repeat-x;
  position: relative;
  margin: 60px 0 60px 0;
  border-right: 5px double black;
  border-left: 1px solid black;
}
a.staff img {
  position: relative;
  display: inline;
  vertical-align: top;
}
a.staff div {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
a.staff img.clef {
  width: 41px;
}
a.staff div.key-sig {
  display: inline-block;
  margin-right: 8px;
  margin-left: 4px;
}
a.staff div.key-sig img {
  width: 15px;
  margin-left: -5px;
}
a.staff div.time-sig {
  margin-right: 8px; 
}
a.staff div.time-sig p {
  font-size: 24px;
  font-family: 'impact';
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}
a.staff div.note {
  z-index: 1;
}
a.staff div.note img {
  width: 20px;
}
a.staff div.note img.accidental {
  width: 15px;
}
a.staff img.ledger {
  position: absolute;
}
