/**
 * Resets and Overrides
 */
* { margin: 0; padding: 0 }

/**
 * General Style and Layout
 */

body {
  background-color: rgb(80, 0, 100);
  background-image: url('/images/bg-score.jpg');
  color: black;
  margin: 0px;
  font-size: 14px;
  font-family: 'Verdana', sans-serif;
}

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  min-width: 770px;
}

h1, h2 {
  color: #660066;
  margin-bottom: 10px;
}
p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
a {
  color: #FFFF33;
  text-decoration: none;
}
a:hover {
  color: white;
}

/* Forms */

label {
  color: white;
}
input, select {
  background-color: #EEDDEE;
  border: none;
  color: #332233;
  font-size: 1em;
  padding: 2px 5px;
}
button {
  background-color: #665566;
  color: white;
  font-size: 1em;
  padding: 0.3em 10px;
}
button:hover {
  background-color: #776677;
}
button:focus {
  outline: none;
}

/****************************************************************************
 * Header
 */

header {
  background-color: rgba(80, 0, 100, 0.9);
  border-bottom: 1px solid #220033;
  height: 74px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#banner {
  margin: 5px 0;
  width: 300px;
}

#session {
  display: inline-block;
  float: right;
  color: white;
  margin-top: 25px;
}

#login input {
  width: 100px;
}

#signup-btn {
  padding-left: 10px;
}

/* Menus */
#menu-bar {
  position: absolute;
  bottom: -1px;
}
.menu-btn {
  background-color: #FFFF33;
  border-bottom: 1px solid #AAAAAA;
  border-radius: 7px 7px 0 0;
  color: #660066;
  padding: 3px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-btn:hover {
  background-color: white;
  cursor: pointer;
}
.menu {
  box-shadow: 0px 2px 12px #660066;
  list-style-type: none;
  position: absolute;
  top: 24px;
  right: 0px;
  z-index: 2;
}
.menu li {
  background-color: white;
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  color: #660066;
  cursor: pointer;
  padding: 10px 5px;
  width: 200px;
}
.menu li:hover {
  background-color: #FFFFCC; 
}
.bold-li {
  font-style: italic;
  text-decoration: underline;
}
#scores-menu {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
}

/****************************************************************************
 * Article
 */
article {
  padding: 20px 0;
  position: fixed;
  top: 75px;
  bottom: 75px;
  overflow: auto;
  width: 100%;
}

/****************************************************************************
 * Score Editor
 */
#editor {
  margin: 0 auto;
  width: 100%;
}

/* Score data */
#score-data {
  background-color: rgba(80, 0, 100, 0.9);
  border-radius: 10px 10px 0 0;
  line-height: 2;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.form-pair {
}

/* Music input */
#music-input {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 10px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}
#music-input:focus {
  outline: none;
}
.staff {
  box-sizing: border-box;
  height: 49px;
  max-height: 49px; 
  display: block;
  background-image: url(images/staff-background.png);
  background-repeat: repeat-x;
  position: relative;
  margin: 60px 20px 60px 20px;
  border-right: 5px double black;
  border-left: 1px solid black;
}
.staff p {
  color: black;
}
.staff img {
  display: inline;
  vertical-align: top;
}
.staff div {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.clef {
  position: relative;
  width: 41px;
}
.key-sig {
  display: inline-block;
  margin-right: 8px;
  margin-left: 4px;
}
.key-sig img {
  position: relative;
  margin-left: -5px;
  width: 15px;
}
.time-sig {
  margin-right: 8px; 
}
.time-sig p {
  font-size: 24px;
  font-family: 'impact';
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.note {
  z-index: 1;
}
.accidental {
  position: relative;
  width: 15px;
}
.ledger {
  position: absolute;
  width: 20px;
}
.note-img {
  position: relative;
  width: 20px;
}

/****************************************************************************
 * Pop-up windows
 */
.pop-up {
  background-color: rgba(160, 100, 170, 0.9);
  border: 5px double #553366;
  border-radius: 5px;
  box-sizing: border-box;
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  width: 500px;
  padding: 30px;
  z-index: 2;
}
h3 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

/* Sign-Up */
#signup-form {
  margin: 0 auto;
  width: 70%;
}
#signup-form label {
  display: block;
}
#signup-form input {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}
#signup-form button {
  box-sizing: border-box;
  margin-top: 10px;
  width: 49%;
}

/****************************************************************************
 * Footer
 */
footer {
  background-color: rgba(80, 0, 100, 0.9);
  border-top: 1px solid #220033;
  box-sizing: border-box;
  color: white;
  height: 75px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#editor-tools {
  height: 100%;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.editor-btn {
  width: 18%;
  min-width: 110px;
}

